#card {
    background: #022537;
    opacity: 0;
    animation: fadeInUp 1s 0.3s;
    animation-fill-mode: forwards;
    cursor: pointer;
    height: 580px;
    position: relative;

    &:hover {
        transform: scale(1.01, 1.01) !important;
    }

    &:nth-of-type(1) {
        animation-delay: 0.4s;
    }

    &:nth-of-type(2) {
        animation-delay: 0.5s;
    }

    &:nth-of-type(3) {
        animation-delay: 0.6s;
    }

    &:nth-of-type(4) {
        animation-delay: 0.7s;
    }

    #card_footer {
        position: absolute;
        bottom: 0;
    }
}

#projects_page_intro {
    h1 {
        @apply text-theme-primary;
        position: relative;
        letter-spacing: 4px;
    }

    p {
        animation: pulse 2s;
    }

    .text-animate-hover {
        &:hover {
            @apply text-theme-white;
        }
    }
}

.carousel_image {
    height: 240px;
}

//  Project Card Modal Styles\
#modal {
    @apply bg-theme-secondary;
    display: flex;
    flex-direction: column;
    height: 98%;
    position: relative;

    #modal_header {
        background: #021721;
        position: sticky;
        top: 0;
        display: flex;

        button {
            margin-right: 0;
            margin-left: auto;
        }
    }

    #modal_body {
        flex: 1;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0.2rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
        }

        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        #modal_slider {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 50px;
            background: rgb(211, 211, 211);

            .prev,
            .next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.5rem;
                padding: 1rem;
                border: none;
                cursor: pointer;
            }

            .prev {
                left: 0;
            }

            .next {
                right: 0;
            }
        }

        #modal_body_description {
            ul {
                list-style: none;

                li {
                    margin: 10px 0;
                    padding-left: 2em;
                    text-indent: -1.7em;

                    &:before {
                        content: "•";
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #modal_footer {
        background: #022537;
    }
}

//  Project Card Modal Styles ends
